# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Test-, Log- und temporäre Dateien
*.log
*.tmp
*.swp

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python egg metadata
*.egg-info/
dist/
build/

# Große Binärdateien
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.m4v